*{
    margin: 0;
    padding: 0;
    background-color: rgb(56, 46, 46);
    color: rgb(10, 10, 10);
}

body {
    font-family: "roboto slab", serif;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


/*NavBar*/
header,
footer {
    color: rgb(47, 34, 235);
    font-size: large;
    background-color: #111010;
    width: 100vw;
}

nav {
    padding: 1em;
    width: 100%;
}

.nav_ul  {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav li {
    list-style: none;
}

nav a {
    color: rgb(64, 136, 209);
    text-decoration: none;
}

#search {
    border: none;
    border-radius: 100px;
    padding: 8px 0 8px 29px;
    font-size: medium;
    font-weight: bold;
}

.nav-li6 {
    position: relative;
}

.nav_li6 img.search{
position: absolute;
margin-top: 6px;
margin-left: 5px;
}

img,
button {
    cursor: pointer;
    font-weight: bolder;
}

.btn.nav_li7,
.btn.nav_li8,
button {
    background-color: #000000;
    border:3px solid black;
    border-radius:6px;
    padding: 6px 14px;
}

.btn.nav_li7 a,
.btn.nav_li8 a{
    color:rgb(0, 0, 0);
}

.carousel {
    position: relative;
    text-align: center;
}

.heroProduct {
    height: 350px;
    width: 450px;
    object-fit: cover;
}

.carousel-controls {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    /*justify-content :space-between; */
    width: 30%;

}

.carousel-btn {
    background-color: rgb(75, 71, 71, 0.582);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 010px;
    border-radius: 50%;
    transition: background-color  0.3s ease;
    margin: 100px;
    margin-left: 0px;
}

.carousel-btn:hover {
    background-color: rgba(255, 255, 255, 0.233);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.main1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
}

.section2 {
    width: 70%;
    gap: 4rem;
}

.heroProduct {
    border-radius: 10px;
}

.s2_details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section1 {
    gap: 3rem;
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section1_prdt {
    display: flex;
    gap: 1rem;
}

.price {
    flex-direction: column;
    padding-top: 10em;
}

.price p {
    font-size: large;
    font-weight: bolder;
}

.s1ProductDetails,
.s2_detailssP {
    text-align: justify;
}

.btnPrice,
.price{
    display: flex;
    gap: 1rem;
}

.section3 {
    width: 100%;
    background-color: #000000;
}

.section3_d1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}